@import "./rootstyles/color.css";
@import "./rootstyles/borders.css";
@import "./rootstyles/links.css";
@import "./rootstyles/typograpghy.css";

/*background- homepage */
.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .part {
    position: absolute;
    width: 50%;
    height: 50%;
    mix-blend-mode: overlay; /* Combine background with content */
  }
  
  .part1 {
    background-color: var(--bs-darkblue);
    top: 0;
    left: 0;
    background-image: url("../../public//GLUE_G.svg");
    background-size:100px;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .part2 {
    background-color: var(--bs-darkerblue);
    top: 0;
    right: 0;
    background-image: url("../../public//GLUE_L.svg");
    background-size:100px;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .part3 {
    background-color: var(--bs-black);
    bottom: 0;
    left: 0;
    background-image: url("../../public//GLUE_U.svg");
    background-size:100px;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .part4 {
    background-color: var(--bs-yellow);
    bottom: 0;
    right: 0;
    background-image: url("../../public//GLUE_E.svg");
    background-size:100px;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .homepage__layout {
    position: relative;
    z-index: 1; /* Ensure content is above background */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bs-white); /* Set text color */
    font-size: 22px; /* Set font size */
    font-family: TWKLausanne, sans-serif; /* Set font family */
    font-weight: 300; /* Set font weight */
    opacity:100%;
    margin:0;
   
  }
  