@import "./rootstyles/color.css";
@import "./rootstyles/borders.css";
@import "./rootstyles/links.css";
@import "./rootstyles/typograpghy.css";

/*background- homepage */
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.part {
  position: absolute;
  width: 50%;
  height: 50%;
  mix-blend-mode: overlay;
  /* Combine background with content */
}

.part1 {
  background-color: var(--bs-darkblue);
  top: 0;
  left: 0;
  background-image: url("../../public/GLUE_G.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50px 50px;
}

.part2 {
  background-color: var(--bs-darkerblue);
  top: 0;
  right: 0;
  background-image: url("../../public/GLUE_L.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) 50px;
}

.part3 {
  background-color: var(--bs-black);
  bottom: 0;
  left: 0;
  background-image: url("../../public/GLUE_U.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50px calc(100% - 50px);
}

.part4 {
  background-color: var(--bs-yellow);
  bottom: 0;
  right: 0;
  background-image: url("../../public/GLUE_E.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) calc(100% - 50px);
}

.homepage__layout {
  position: relative;
  z-index: 1;
  /* Ensure content is above background */
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bs-white);
  /* Set text color */
  font-size: 22px;
  /* Set font size */
  font-family: TWKLausanne, sans-serif;
  /* Set font family */
  font-weight: 300;
  /* Set font weight */
  opacity: 100%;
  margin: 0;
}

/* HEADER HOMEPAGE */
.searchIcon {
  filter: invert(100%);
  position: absolute;
  top: 5%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
}

/* HOMEPAGE CONTENT */
.homepage__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  z-index: 3;
}

.horizontal-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--bs-white);

  z-index: 999;
}

.vertical-line {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--bs-white);
  z-index: 999;
}

.horizontal-line.top {
  top: 15%;
  left: 0;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.horizontal-line.bottom {
  bottom: 15%;
  left: 0;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.titledLines {
  width: 75%;
  position: absolute;
}

.titledLinesWrapp {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
}

.line {
  height: 1px;
  background-color: #e9e9ed;
  padding: 1px;
}

.left-rotate {
  top: 0;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.right-rotate {

  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

@media screen and (max-width: 700px) {
  .part1 {
    background-size: 70px;
    background-position: 10px 10px;
  }

  .part2 {
    background-size: 70px;
    background-position: calc(100% - 10px) 10px;
  }

  .part3 {
    background-size: 70px;
    background-position: 10px calc(100% - 10px);
  }

  .part4 {
    background-size: 70px;
    background-position: calc(100% - 10px) calc(100% - 10px);
  }

  .searchIcon {
    top: 1%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
  }

  .horizontal-line.top {
    top: 65px;
    left: 0;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .horizontal-line.bottom {
    bottom: 65px;
    left: 0;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .titledLines {
    width: 100%;
  }

  .left-rotate {
    top: 0;
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .right-rotate {

    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

}

@media screen and (max-width: 1280px) {
  .part1 {
    background-size: 70px;
  }
  
  .part2 {
    background-size: 70px;
  }
  
  .part3 {
    background-size: 70px;
  }
  
  .part4 {
    background-size: 70px;
  }

  .searchIcon {
    width: 50px;
    height: 50px;
  }
}