@import "../styles/rootstyles/color.css";
@import "../styles/rootstyles/borders.css";
@import "../styles/rootstyles/links.css";
@import "../styles/rootstyles/typograpghy.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: var(--bs-font-sans-serif);
  color: var(--bs-white);
  background-color: var(--bs-darkblue);
  height: 100%;

}

/*homepage styling*/
.homepage__layout {
  height: 100vh;

}

.homepage__header {
  height: 10%;

}

/*navigation styling*/


.pageLayout {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 50svh auto;
  grid-template-columns: 50% 50%;
}

.pageLayout h1 {
  padding: 15% 15% 0 15%;
  font-size: 4vw;
  font-weight: 500;
}

.pageLayout>nav:first-of-type {
  /* padding: 15% 15% 5% 15%; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;

}

.pageLayout>nav>nav {
  padding: 15% 15% 5% 15%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pageLayout>nav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pageLayout>nav {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.pageLayout>nav a {
  text-decoration: none;
  font-size: 3rem;
}

.pageLayout>nav a:hover {
  text-decoration: underline;
}

.pageLayout > p {
  padding: 15% 15% 0 15%;
}
.pageLayout > div> p {
  padding: 15% 15% 0 15%;
}

.pageLayout >nav > p {
  padding: 15% 15% 0 15%;
}

.pageLayout>img {
  max-height: 50vw;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
  overflow: hidden;
}

.pageLayout a {
  color: var(--bs-white);
}

a {
  color: var(--bs-white);
  text-decoration: none;
}


.pageLayout__pageImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* colours for the grid items */

.grid-blue {
  background-color: var(--bs-darkblue);
}

.grid-black {
  background-color: black;
}

.grid-purple {
  background-color: var(--bs-darkerblue);
}

.grid-yellow {
  background-color: var(--bs-yellow);
}

.grid-yellowdark {
  background-color: var(--bs-darkyellow);
}


@media screen and (max-width: 700px) {
  .pageLayout {
    grid-template-areas: 
    "a b"
    "c c";
  }
  .pageLayout > :nth-child(1n) {
    grid-area: a;
  }
  .pageLayout > :nth-child(2n) {
    grid-area: b;
  }

  .pageLayout > :nth-child(3n) {
    grid-area: c;
    grid-column: span 2;
  }

  .pageLayout > :nth-child(4n) {
    display: none;
  }

  /* .pageLayout>img {
    display: none;
  } */

  .pageLayout h1 {
    padding-top: 10rem;
    font-size: 6vw;
  }

  .pageLayout>nav>nav {
    padding: 5% 5% 5% 5%;
    gap: 1rem;
  }

  .pageLayout>nav a {
    font-size: 2rem;
  }
}