
@import "../styles/rootstyles/color.css";
@import "../styles/rootstyles/borders.css";
@import "../styles/rootstyles/links.css";
@import "../styles/rootstyles/typograpghy.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: var( --bs-font-sans-serif);
  color: var(--bs-white);
  background-color: var(--bs-blue);
  
}
/*homepage styling*/
.homepage__layout{
  height:100vh;
  margin:2%;

}

.homepage__header{
  height:10%;
  
}

/*navigation styling*/
.routes {
  color: var(--bs-white);
  text-decoration: none;
}

.pageLayout {
  display: inline-grid;
  width: 100%;
  height: 100vh;
  /* grid-auto-rows: 50%;
  grid-template-columns: 50%; */
  grid-template: 50% / 50% 50%;
  /* padding-left: 5%;
  padding-right: 5%; */
}

.pageLayout > h1 {
  padding: 15% 15% 0 15%;
  font-size: 75px;
  font-weight: 500;
}

.pageLayout > nav {
  padding: 15% 15% 5% 15%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pageLayout > nav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pageLayout > nav {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pageLayout > nav a {
  text-decoration: none;
  font-size: 3rem;
}

.pageLayout > p {
  padding: 15% 15% 0 15%;
}

.pageLayout > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pageLayout a {
  color: var(--bs-white);
  /* text-decoration: none; */
}

Link{
  color: var(--bs-white);
  text-decoration: none;
}